@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsl(233, 13%, 49%);
}

.toggle-container {
  color: hsl(234, 14%, 74%);
  margin-bottom: 40px;
}

.price-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
}

.price-box h4 {
  margin: 0;
}

.price-box p {
  font-size: 4em;
  margin: 15px 0;
}

.price-box ul {
  border-top: 1px solid hsl(234, 14%, 74%);
  padding: 0;
  list-style-type: none;
}

.price-box ul li {
  border-bottom: 1px solid hsl(234, 14%, 74%);
  color: hsl(233, 13%, 49%);
  padding: 15px 0px;
}

.price-box button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
}
